<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.ssm.mapper.OrganizationMapper" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.demo.ssm.po.Organization" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
  </resultMap>

  <!-- table all fields -->
  <sql id="Base_Column_List" >
    id, pid, version, name, note
  </sql>

  <!-- condition -->
  <sql id="Example_Where_Clause">
    <where>
      <trim  suffixOverrides="," >
        <if test="msg_id != null and msg_id != ''" >
          and msg_id =  #{msg_id}
        </if>
        <if test="content != null and content != ''" >
          and content like '%${content}%'
        </if>
      </trim>
    </where>
  </sql>

  <insert id="insert" parameterType="com.demo.ssm.po.Organization" >
    insert into t_organization
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pid != null" >
        pno,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="note != null" >
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pno,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="com.demo.ssm.po.Organization" >
    update t_organization
    <set >
      <if test="no != null" >
        no = #{no,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        pno = #{pno,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{oid,jdbcType=VARCHAR}
  </update>

  <delete id="delete" parameterType="java.lang.String" >
    delete from t_organization
    where id = #{oid,jdbcType=VARCHAR}
  </delete>

  <select id="find" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_organization
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="findByPid" resultType="java.lang.String" parameterType="java.lang.String">
    SELECT pid FROM t_organization
    WHERE #{pid} like concat(pid,'%') AND `id` <![CDATA[<>]]> #{pid}
    order by no DESC limit 0,1
  </select>

  <select id="findAll" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from t_organization
    order by id asc
  </select>

</mapper>